.sg-* {
  p, li, h2, h3, h4, h5, h6, pre, code, td, th, blockquote, q, strong, b, em, i {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;
    margin: 0;
    padding: 0;
  }
}



//@import "iris-ui/iris-ui-reset.scss";
@import "iris-ui/iris-ui-variables.scss";
@import "iris-ui/iris-ui-basics.scss";
@import "iris-ui/iris-ui-buttons.scss";
@import "iris-ui/iris-ui-icons.scss";
@import "iris-ui/iris-ui-type.scss";
@import "iris-ui/iris-ui-links.scss";
@import "iris-ui/iris-ui-avatar.scss";
@import "iris-ui/iris-ui-panels.scss";
@import "iris-ui/iris-ui-tables.scss";
@import "iris-ui/iris-ui-menus.scss";
@import "iris-ui/iris-ui-tabs.scss";
@import "iris-ui/iris-ui-forms.scss";
@import "iris-ui/iris-ui-body.scss";
@import "iris-ui/iris-ui-header.scss";
@import "iris-ui/iris-ui-footer.scss";
@import "iris-ui/iris-ui-sidebar.scss";
@import "iris-ui/iris-ui-overlays.scss";
@import "iris-ui/iris-ui-inbox.scss";
@import "iris-ui/iris-ui-colors.scss";
@import "iris-ui/iris-ui-loading.scss";
@import "iris-ui/iris-ui-calendar.scss";
@import "iris-ui/iris-ui-validation-notification.scss";
@import "iris-ui/iris-ui-colour-picker.scss";
