/* IRIS UI STYLE GUIDE 2019 */
/* TYPOGRAPHY */

.sg-text {
  position: relative;
  font-family: $sg-font-family-text;
  font-size: 1rem;
  line-height: 1.8;
  padding: 0;
  margin: 0;
  margin-bottom: 1.6em;
  font-weight: 400;
  &:last-child {
    margin-bottom: 0;
  }
}

.sg-text-introduction {
  @extend .sg-text;
  font-size: 1.2rem;
}

.sg-hgroup {
  margin-bottom: 3.41rem;
  .sg-h1,
  .sg-h2,
  .sg-h3,
  .sg-h4,
  .sg-h5,
  .sg-h6 {
    margin-bottom: 1rem;
  }
  h1, h2, h3, h4, h5,h6, p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.sg-hgroup-underlined {
  @extend .sg-hgroup;
  padding-bottom: 1rem;
  border-bottom: 1px solid $sg-color-border;
}
.sg-h1 {
  @extend .sg-text;
  display: flex;
  align-items: center;
  font-size: 2rem;
  & > button {
    margin: 0 0 0 0.5em;
  }
}
.sg-hgroup-underlined {
  .sg-h1 {
    align-items: flex-start;
  }
}

.sg-h2 {
  @extend .sg-text;
  font-size: 1.5rem;
}
.sg-h3 {
  @extend .sg-text;
  font-size: 1.2rem;
  font-weight: 700;
}
.sg-h4 {
  @extend .sg-text;
  font-size: 1rem;
  font-weight: 700;
}

.sg-p {
  @extend .sg-text;
  margin: 0 0 1em 0;
  max-width: 60em;
  &:last-child {
    margin-bottom: 0;
  }
}

.sg-text-body {
  @extend .sg-text;
}

.sg-text-small {
  @extend .sg-text-body;
  font-size: 0.875rem;
}

.sg-text-italic {
  @extend .sg-text-body;
  font-size: inherit;
  line-height: inherit;
  font-style: italic;
}

.sg-text-strong {
  @extend .sg-text-body;
  font-weight: 700;
}


.sg-text-lozenge {
  display: inline-block;
  position: relative;
  vertical-align: baseline;
  background-color: $sg-color-dark-grey;
  color: white;
  height: 1.6em;
  line-height: 1.6;
  width: auto;
  min-width: 2em;
  border-radius: 0.8em;
  padding: 0 0.6em;
  font-size: 0.875rem;
}
.sg-text-lozenge-negative,
.sg-text-lozenge-large-negative {
  @extend .sg-text-lozenge;
  background-color: white;
  color: $sg-color-text;
}

.sg-text-lozenge-large {
  @extend .sg-text-lozenge;
  font-size: 1.2rem;
  height: 2em;
  line-height: 2em;
  border-radius: 1em;
  padding: 0 0.8em;
}
.sg-text-lozenge-large-negative {
  @extend .sg-text-lozenge-large;
  background-color: white;
  color: $sg-color-text;
}

.sg-badge {
  display: inline-block;
  position: relative;
  vertical-align: super;
  background-color: $sg-color-warning;
  color: white;
  text-align: center;
  height: 1.4em;
  width: auto;
  min-width: 1.4em;
  border-radius: 0.8em;
  padding: 0 0.3em;
  font-size: 0.7rem;
  line-height: 1.5;
  margin-left: 0.4em;
}


.sg-ul,
.sg-ol,
.sg-list {
  margin: 0 0 $sg-ui-margin-normal 0;
  li {
    margin: 0;
    padding: 0;
  }
}

.sg-p + .sg-h2,
.sg-ul + .sg-h2,
.sg-ol + .sg-h2,
.sg-list + .sg-h2,
.sg-p + .sg-h3,
.sg-ul + .sg-h3,
.sg-ol + .sg-h3,
.sg-list + .sg-h3,
.sg-p + .sg-h4,
.sg-ul + .sg-h4,
.sg-ol + .sg-h4,
.sg-list + .sg-h4 {
  margin-top: $sg-ui-margin-large;
}

.sg-ul + .sg-p,
.sg-ol + .sg-p,
.sg-list + .sg-p {
  margin-top: $sg-ui-margin-normal;
}

.sg-blockquote {
    margin: 0 0 $sg-ui-margin-large 0;
    padding: $sg-ui-margin-normal;
    border-top: 1px solid $sg-color-border;
    border-bottom: 1px solid $sg-color-border;
    font-size: 1.5rem;
    font-style: italic;
    width: 100%;
    max-width: 36em;
    &:before {
      content: '';
      display: block;
      width: 2.4em;
      height: 2em;
      margin-bottom: $sg-ui-margin-small;
      background-image: url('/assets/iris-ui-icons/iris-ui-icon-quote-positive.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
}
