@import "iris-ui/iris-ui-variables.scss";

$guide-font-family-text:  'Open Sans',"Helvetica Neue", Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto","Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans","Lato", "Helvetica Neue", Arial, sans-serif;;

$guide-color-background-light: $sg-iris-ui-grey-background;
$guide-color-background-dark: $sg-iris-brand-grey-solid;
$guide-color-text: $sg-iris-brand-grey-solid;
$guide-color-border: $sg-iris-ui-grey-graphic;
$guide-color-link: #0B61BD;
$guide-color-link: #0B61BD;
$guide-color-orange: $sg-iris-ui-orange-graphic;

$guide-corner-small:    0.3rem;
$guide-media-query-small: 500px;

$guide-pad-large:      5rem;
$guide-pad-medium:     3rem;
$guide-pad-small:      1.5rem;

$guide-color-draft: $guide-color-orange;


@mixin sr-only {
  display: block;
	position: absolute;
	top: -10000vh;
	left: -10000vw;
	height: 1px;
	width: 1px;
}
.sr-only {
	@include sr-only;
}
